%tr.nyan
  %td= link_to nyan.id, nyan_path(nyan)
  %td= best_in_place nyan, :title
  %td=l nyan.created_at
  %td
    = link_to t("helpers.links.destroy"), nyan_path(nyan),
      method: :delete,
      remote: true,
      data: { confirm: t("helpers.links.confirm") },
      class: 'btn btn-mini btn-danger delete_nyan'
