- model_class = Nyan
.page-header
  %h1=t model_class.model_name.human.pluralize

%a.btn.btn-primary{"data-toggle" => "modal", href: "#form_nyan", role: "button"} New

#form_nyan.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Create
  = simple_form_for @nyan, remote: true, html: { class: 'form-horizontal', id: 'nyan'} do |f|
    .modal-body
      = f.input :title
      = f.input :image
    .modal-footer
      -# .form-actions
      = f.button :submit, :class => 'btn-primary'
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
#wrapper
  #columns
    #nyans
      -@nyans.each do |nyan|
        =render 'pin', nyan: nyan

